html { 
  background: url(./../images/tlo4a.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

/*body {
    font-family: Lucida Console;
    background-image: url(./../images/landscape.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}*/

	
label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}

input[type=radio]{
    display: none;
}
/*
label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: relative;
    left: 0;
    bottom: 1px;
    background-color: #aaa;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.radio label:before {
    border-radius: 8px;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}*/

label {
	
	
	font-weight: bold;
	width: 500px;
	margin-left: 10px;
        
        
}
input[type=radio]:checked + label{
    box-shadow: inset 2px 5px 10px;
    border-radius: 10px;
	background-color: #8eff60;
    
    
}
input[type=radio] + label:hover{
    box-shadow: inset 2px 2px 10px; 
    border-radius: 10px;
	background-color: #8eeb60;
}
input[type=radio] + label:active{
    box-shadow: inset 2px 5px 10px; 
    border-radius: 10px;
	background-color: #8eff60;
}



/*.radio label:hover {
	font-colour:  #33CC66;
	}
*/
fieldset {
   background: rgba(255, 255, 255, 0.5);
	filter: alpha(opacity=50);
	width: 500px;
	/*background-color: lightblue;*/
	border: 5px solid black;
/*		padding: 3px;
        box-shadow: 5px 5px 10px;*/
	 }
#candidates{
	background: rgba(255, 255, 255, 0.5);
	filter: alpha(opacity=50);
	width: 500px;
	margin: -100px 0 0 -175px;
}
legend {
	
	background-color: #33CC66;
        border: 2px solid black;
        box-shadow:  5px 5px 10px;
	padding: 5px;
	font-size: 50px;
	font-weight: bold;
	margin-left:-8px; }




form[name=candidates], form[name=loginform] {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-size: 50px;
  text-align: center;
  
}

/* form input:hover {
	box-shadow: inset 2px 2px 10px; 
	color: #fec600;
} */
input[type=submit][value=Głosuj]{
    font-weight: bold;
	
    width: 500px;
  
  font-size: 30px;
  
}

form[name=candidates]{
    margin: -100px 0 0 -200px;
}



.content, .top{
    margin-left: 100px;
    margin-right: 100px;
    background: rgba(255, 255, 255, 0.5);
	filter: alpha(opacity=50);
	width: 300px;
  position: absolute;
  top: 60%;
  left: 50%;
  margin: -20px 0 0 -150px;
  font-size: 30px;
  font-weight: bold;
}


.top#instruction{
	margin-left: 100px;
    margin-right: 100px;
    background: rgba(255, 255, 255, 0.5);
	filter: alpha(opacity=50);
	width: 90%;
  position: absolute;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -45%;
  font-size: 30px;
  font-weight: bold;
  border: 5px solid black;
  padding: 15px;
}
#voted{
margin-left: 100px;
    margin-right: 100px;
    background: rgba(255, 255, 255, 0.5);
	filter: alpha(opacity=50);
	width: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -540px;
  font-size: 30px;
  font-weight: bold;
}
form[name=users] input[type=submit][value=Zablokuj] {
    //box-shadow:  2px 2px 10px;
    background: #66ff66;
}
form[name=users] input[type=submit][value=Odblokuj] {
    //box-shadow:  2px 2px 10px;
    background: #ff3333;
}

#summary, #admin, #candmgmt{
    width: 500px;
    top: 40%;
    margin: -100px 0 0 -250px;
}
#nav input{
    width: 100px;
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 5px;
    color: white;
    background-color: black;
    border: solid 1px grey;
}
#nav{
    z-index: 10;
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    height: 20px;
    box-shadow: 2px 2px 10px;
}
#nav a{
    font-family: Arial;
    text-decoration: none;
    color: white;
    border: solid 1px grey;
    padding: 5px;
}